@import "tailwindcss";

@custom-variant hover (&:hover);

@layer base {
  h1 {
    @apply text-[3.4rem] md:text-[4.7rem] font-extrabold text-[#F0A240];
  }
  h2 {
    @apply text-[1.25rem] md:text-[1.75rem] uppercase font-extrabold text-[#F0A240];
  }

  p {
    @apply text-[1rem] md:text-[1.125rem]  text-[#3C4154];
  }
  a {
    @apply text-[#F0A240];
  }

  a:hover {
    @apply text-[#c18234] underline cursor-pointer;
  }

  button {
    @apply text-[#c18234] border-[#c18234] outline-[0.25rem] text-[1rem] md:text-[1.125rem] font-semibold py-3 px-10 outline-solid cursor-pointer;
  }

  button:hover {
    @apply bg-[#c18234] text-[#FFFFFF];
  }
}

/* Custom styles for the diary app */
.bg-gradient {
  background: linear-gradient(180deg, #082140 0%, #3c4154 100%);
}

.text-highlight {
  color: #f0a240;
}

.add-entry-btn {
  @apply bg-transparent border-2 border-[#F0A240] text-[#F0A240] py-2 px-6 rounded-md transition-all duration-300;
}

.add-entry-btn:hover {
  @apply bg-[#F0A240] text-[#FFFFFF];
}

@layer components {
  .react-calendar {
    @apply !bg-[#d4a8b4] p-4 rounded-lg shadow-md;
  }

  .react-calendar__tile {
    @apply text-gray-700 hover:bg-blue-400 rounded-md transition duration-200;
  }

  .react-calendar__tile--active {
    @apply bg-blue-500 text-white;
  }

  .react-calendar__tile--now {
    @apply bg-gray-200;
  }

  .react-calendar__month-view__days__day--weekend {
    @apply text-red-500;
  }

  .react-calendar__navigation button {
    @apply text-black;
  }
}